
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-button {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0 none #ffffff;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: $primary;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0 none #ffffff;
  border-radius: 46px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #666666;
}

::-webkit-scrollbar-corner {
  background: transparent;
}